<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/globalTopInsert.html">
</head>
<body>

<div th:include="fragments/navbar.html"></div>

<main class="container-fluid">
    <section>

        <aside th:each="info: ${allCars}">
            <label>
                manufacturer:
                <input type="text" disabled th:value="${info.car.manufacturer}">
            </label>
            <label>
                make:
                <input type="text" disabled th:value="${info.car.make}">
            </label>
                <input type="text" disabled th:value="${info.car.model}">
                <input type="text" disabled th:value="${info.car.mileage}">
                <input type="text" disabled th:value="${info.car.price}">
                <a th:href="@{/cars/{id}(id=${info.car.id})}">
                    Show details
                </a>
                <a
                    th:if="${info.transaction == null && info.car.isBiddable()}"
                    th:href="@{/transactions/new/{id}(id=${info.car.id})}"
                >
                    Place bid
                </a>
                <sup type="text" disabled th:if="${info.transaction == null && !info.car.isBiddable()}">Buy at
                    dealership</sup>
                <p type="text" disabled th:unless="${info.transaction == null}">SOLD!</p>

        </aside>
    </section>
</main>
</body>
</html>