<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/globalTopInsert.html">
</head>
<body>

<div th:include="fragments/navbar.html"></div>

<main class="d-flex container-fluid flex-wrap justify-content-center">
    <!--/*@thymesVar id="allCars" type="java.util.ArrayList<org.danlee.cardealer.viewmodels.CarWithTransaction>"*/-->
    <div  th:each="info: ${allCars}" class="card m-3" style="width: 18rem">
        <img class="card-img-top" th:src="${info.car.imageUrl}" alt="Image of car">
        <div class="card-body">
            <h5 class="card-title" th:text="${info.car.make}">Car Make</h5>
            <p class="card-text" th:text="${info.car.description}">Car Description here</p>
            <strong>
                manufacturer:
            </strong>

            <p type="text" th:text="${info.car.manufacturer}">Car manufacturer</p>

            <strong>
                make:
            </strong>
            <p type="text" th:text="${info.car.make}">Car Make</p>


            <strong>
                model:
            </strong>
            <p type="text" th:text="${info.car.model}">Car Model</p>

            <a th:href="@{/cars/{id}(id=${info.car.id})}" class="btn btn-primary">Show details</a>
            <a
                    class="btn btn-outline-success"
                    th:if="${info.transaction == null && info.car.isBiddable()}"
                    th:href="@{/transactions/bid/{id}(id=${info.car.id})}"
            >
                Place bid
            </a>

            <button class="btn btn-outline-danger"  disabled th:unless="${info.transaction == null}">SOLD!</button>

        </div>
    </div>
</main>
</body>
</html>